[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
[user]
    name = nobody
    email = nobody@example.com
[color]
    diff = auto
    status = auto
    branch = auto
[alias]
    st = status
    co = checkout
    ci = commit
    up = pull --ff-only
    df = diff
    dc = diff --cached
[push]
    default = simple
