[core]
        autocrlf = input
        excludesfile = ~/.gitignore_global
[user]
        name = nobody
        email = nobody@example.com
[color]
        diff = auto
        status = auto
        branch = auto
[alias]
        st = status
        co = checkout
        ci = commit
        up = pull --ff-only
        df = diff
        dc = diff --cached
        cfg = config -l --global
        cfl = config -l --local
        grok = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
        daily = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit --since='24 hours ago'
        unstage = reset HEAD
        uncommit = reset --soft HEAD^
        unchange = checkout HEAD
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        # http://megakemp.com/2016/08/25/git-undo/
        undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
[push]
        default = simple
