[core]
        autocrlf = input
        excludesfile = ~/.gitignore_global
[user]
        useConfigOnly = true
#[includeIf "gitdir:/home/jhe/src/github/"]
#        path = ~/.config/gitconfig/jhe_src_github.ini
[color]
        diff = auto
        status = auto
        branch = auto
[alias]
        st = status
        co = checkout
        ci = commit
        up = pull --ff-only
        df = diff
        dc = diff --cached
        dfw = diff --word-diff
        dcw = diff --word-diff --cached
        cfg = config -l --global
        cfl = config -l --local
        grok = log --all --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue) <%an>%Creset' --abbrev-commit
        daily = !git grok --since='24 hours ago'
        weekly = !git grok --since='7 days ago'
        unstage = reset HEAD
        uncommit = reset --soft HEAD^
        unchange = checkout HEAD
        ignore = update-index --assume-unchanged
        unignore = update-index --no-assume-unchanged
        # http://megakemp.com/2016/08/25/git-undo/
        undo = "!f() { \\\n    git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; \\\n}; f"
        # http://durdn.com/blog/2012/11/22/must-have-git-aliases-advanced-examples/
        ll = log --pretty=format:"%C(red)%h%C(yellow)%d\\ %C(reset)%s%C(green)\\ [%cn]" --decorate --numstat
        ls = show --pretty="" --name-only
        clean-untracked = clean -f -x -d
        brv = !git branch | cut -c3- | xargs git commit-info --color=always | sort -r
        commit-info = show --no-patch --date=short --pretty=format:'%C(green)%ad%C(reset) %C(magenta)%C(italic)%<(20,trunc)%S%C(reset) %C(auto)%h %C(blue)%<(20,trunc)%an %C(auto)%<(70,trunc)%s%D%C(reset)'
[push]
        default = simple
[init]
        defaultBranch = main
[safe]
	directory = *
[url "https://github.com/"]
        insteadOf = git@github.com:
